In [1]:
import pandas as pd

In [3]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
df =pd.read_excel('./Products_import.xlsx')

In [5]:
df.to

,Тип продукции,Наименование продукции,Артикул,Минимальная стоимость для партнера
0,Паркетная доска,Паркетная доска Ясень темный однополосная 14 мм,8758385,4456.90
1,Паркетная доска,Инженерная доска Дуб Французская елка однополо...,8858958,7330.99
2,Ламинат,Ламинат Дуб дымчато-белый 33 класс 12 мм,7750282,1799.33
3,Ламинат,Ламинат Дуб серый 32 класс 8 мм с фаской,7028748,3890.41
4,Пробковое покрытие,Пробковое напольное клеевое покрытие 32 класс ...,5012543,5450.59